<section>
  <h3>Username: <%= @user.name %></h3>
  <h4>Bio: <%= @user.bio %></h4>
  <p>TotalPost: <%= @user.posts_counter %></p>
  <p>Created: <%= @user.created_at %></p>
  <p>Updated: <%= @user.updated_at %></>
  <% @user.posts.each do |post| %>
    <ul>
      <li><%= link_to post.title, user_post_path(@user, post) %></li>
      <li><%= post.text %></li>
      <li>Number of Comments: <%= post.comments_counter %></li>
      <li>Number of Likes: <%= post.likes_counter %></li>
    </ul>
  <% end %>
  <button>
  <%= link_to 'see all posts', user_posts_path(@user) %>
  </button>
</section>
